<%
    var title = page.title;

    // tags, categories, about pages title
    if (title == 'tags') {
        title = __('tags');
    } else if (title == 'categories') {
        title = __('categories');
    } else if (title == 'about') {
        title = __('about');
    }

    // archives, category, tag pages title
    if (is_archive()) {
        title = __('archives');
        if (is_month()) {
            title += ': ' + page.year + '/' + page.month;
        } else if (is_year()) {
            title += ': ' + page.year;
        }
    } else if (is_category()) {
        title = __('category') + ': ' + page.category;
    } else if (is_tag()) {
        title = __('tag') + ': ' + page.tag;
    }

    // final page title.
    var pageTitle = title ? title + ' | ' + config.title : config.title;

    // keywords.
    var keyWords = config.keywords ? config.keywords : config.title;
    if (page.keywords) {
        keyWords = page.keywords;
    } else {
    	keyWords = title ? title  + ', ' + keyWords : keyWords;
    }

    // description.
    var description = null;
    if (page.summary) {
        description = page.summary;
    } else if (page.hasOwnProperty('__post') && page.__post) {
        description = strip_html(page.content).substring(0, 120);
    }
    description = description ? description : pageTitle;

    let iconType = 'image/png'
    let faviconExt = theme.favicon.substr(theme.favicon.lastIndexOf('.') + 1, theme.favicon.length)
    if (faviconExt === 'png') {
        iconType = 'image/png'
    } else if (faviconExt === 'svg') {
        iconType = 'image/svg+xml'
    } else if (faviconExt === 'gif') {
        iconType = 'image/gif'
    } else if (faviconExt === 'jpeg') {
        iconType = 'image/jpeg'
    } else if (faviconExt === 'jpg') {
        iconType = 'image/jpeg'
    } else if (faviconExt === 'ico') {
        iconType = 'image/x-icon, image/vnd.microsoft.icon'
    }
%>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="<%= keyWords %>">
    <meta name="description" content="<%= config.description %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit|ie-stand|ie-comp">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="baidu-site-verification" content="code-8VjAnGhv8m" />
    <meta name="google-site-verification" content="An02eAw6rCWBVutF85tRr02GvZox5D4Pqd9PKFRzvBs" />
    <%- partial('_partial/google-analytics') %>
    <title><%= pageTitle %></title>
    
    <script>
        // 隐藏
        //右键
        // document.oncontextmenu = function (event){
        //     if(window.event){
        //     event = window.event;
        //     }try{
        //     var the = event.srcElement;
        //     if (!((the.tagName == "INPUT" && the.type.toLowerCase() == "text") || the.tagName == "TEXTAREA")){
        //     return false;
        //     }
        //     return true;
        //     }catch (e){
        //     return false;
        //     }
        // }

        //debugger部分
            // setInterval(function() {
            // check();
            // }, 500);
            // var check = function() {
            //     function doCheck(a) {
            //     if (('' + a / a)['length'] !== 1 || a % 20 === 0) {
            //         (function() {}['constructor']('debugger')());
            //     } else {
            //         (function() {}['constructor']('debugger')());
            //     }
            //     doCheck(++a);
            //     }
            //     try {
            //     doCheck(0);
            //     } catch (err) {}
            // };
            // check();

            // ctrl+s保存
            // document.onkeydown = function() {
            //     if ((e.ctrlKey) && (e.keyCode == 83)) { //ctrl+s
            //         return false;
            //     }
            // }
            // window.addEventListener("keydown", function(e) {
            //     //可以判断是不是mac，如果是mac,ctrl变为花键
            //     //event.preventDefault() 方法阻止元素发生默认的行为。
            //     if((e.key=='s'||e.key=='S')&&(navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)){
            //         e.preventDefault();
            //     }
            // }, false);
            // F12
            // document.onkeydown = function(){
            //     if(window.event && window.event.keyCode == 123) {
            //         event.keyCode=0;
            //         event.returnValue=false;
            //     }
            //     if(window.event && window.event.keyCode == 13) {
            //         window.event.keyCode = 505;
            //     }
            //     if(window.event && window.event.keyCode == 8) {
            //         window.event.returnValue=false;
            //     }
            // }
        //宽高
        // var threshold = 160; // 打开控制台的宽或高阈值  
        // // 每秒检查一次  
        // window.setInterval(function() {  
        //     if (window.outerWidth - window.innerWidth > threshold ||   
        //     window.outerHeight - window.innerHeight > threshold) {  
        //         // 如果打开控制台，则刷新页面  
        //         window.location.reload();  
        //     }  
        // }, 1e3);

        //debug调试时跳转页面
        // var element = new Image();
        // Object.defineProperty(element,'id',{get:function(){window.location.href="/tenfour/homepage/"}});
        // console.log(element);
    </script>
    
    <link rel="icon" type="<%= iconType %>" href="<%- theme.jsDelivr.url %><%- url_for(theme.favicon) %>">

    <link rel="stylesheet" type="text/css" href="<%- theme.jsDelivr.url %><%- url_for(theme.libs.css.fontAwesome) %>">
    <link rel="stylesheet" type="text/css" href="<%- theme.jsDelivr.url %><%- url_for(theme.libs.css.materialize) %>">
    <link rel="stylesheet" type="text/css" href="<%- theme.jsDelivr.url %><%- url_for(theme.libs.css.aos) %>">
    <link rel="stylesheet" type="text/css" href="<%- theme.jsDelivr.url %><%- url_for(theme.libs.css.animate) %>">
    <link rel="stylesheet" type="text/css" href="<%- theme.jsDelivr.url %><%- url_for(theme.libs.css.lightgallery) %>">
    <link rel="stylesheet" type="text/css" href="<%- theme.jsDelivr.url %><%- url_for('/css/matery.css') %>">
    <link rel="stylesheet" type="text/css" href="<%- theme.jsDelivr.url %><%- url_for('/css/my.css') %>">
    <link type='text/css' rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"/>
    
    <script src="<%- theme.jsDelivr.url %><%- url_for(theme.libs.js.jquery) %>"></script>
    <!-- <script src="/js/foropensource.js"></script> -->
    <script>
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https'){
           bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
          }
          else{
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
          }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</head>
