<!-- 搜索遮罩框 -->
<style>
#searchInput::-webkit-input-placeholder { /* WebKit browsers */ 
    font-size:16px;
} 
#searchInput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
    font-size:16px;
} 
#searchInput::-moz-placeholder { /* Mozilla Firefox 19+ */ 
    font-size:16px;
} 
#searchInput:-ms-input-placeholder { /* Internet Explorer 10+ */ 
    font-size:16px;
} 
#searchInput {
    margin-top: 6px;
    margin-bottom: 12px;
    text-indent: 4px;
    font-size: 14px;
}
</style>
<div id="searchModal" class="modal">
    <div class="modal-content">
        <div class="search-header">
            <span class="title"><i class="fas fa-search"></i>&nbsp;&nbsp;站内<%= __('search') %></span>
            <input type="search" id="searchInput" name="s" placeholder="<%= __('searchTip') %>"
                   class="search-input" autofocus="autofocus" />
        </div>
        <div id="searchResult"></div>
    </div>
</div>

<script src="<%- theme.jsDelivr.url %><%- url_for('/js/search.js') %>"></script>
<script type="text/javascript">
$(function () {
    searchFunc("<%- theme.jsDelivr.url %><%- url_for('search.xml') %>", 'searchInput', 'searchResult');
});
</script>

<!-- 点击搜索按钮后input框自动获取焦点 -->

