<style>
    .valine-card {
        margin: 1.5rem auto;
    }
    .v[data-class=v] .emoji, .v[data-class=v] .vemoji {
        max-height: 20px;
        overflow: hidden;
        max-width: 20px!important;
    }
    .v[data-class=v] .vwrap .vemojis {
        text-align: center;
    }
    .roboterbb {
        position: absolute;
        right: 87px;
        padding-top: 3px;
    }
    .robot-check-text:hover {
        color: #26a69a;
    }
    .roboter:hover .robot-check-text::before {
        border: 2px solid #5a5a5a;
    }
    .robotxian {
        background: #5a5a5a;
        top: 21px;
        left: 11px!important;
        transform-origin: 50% -17px;
        animation: swing 3.5s infinite ease-in-out;
        -webkit-transform-origin: 50% -17px;
        -webkit-animation: swing 2.85s infinite ease-in-out;
    }
    .v[data-class=v] .vwrap {
        padding-bottom: 23px;
    }
    .robotimg {
        width: 28px!important;
        height: 28px!important;
        top: 14px!important;
        left: -13px!important;
        max-width: none!important;
        z-index: 99;
        cursor: none!important;
    }
    .v[data-class=v] .vbtn:disabled {
        color: #b2b2b5;
        border-color: #b2b2b5;
    }
    .v[data-class=v] .vbtn:disabled {
        background-color: transparent;
    }
    .valine-card .card-content {
        padding: 20px 20px 5px 20px;
    }
    .v[data-class=v] .vwrap {
        border-radius: 8px;
    }
    /* #vcomments textarea {
        box-sizing: border-box;
        background: url("<%- url_for(theme.valine.background) %>") 100% 100% no-repeat;
    } */
    #vcomments textarea {
        background: url(/medias/comment_bg1.webp) no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        background-color: rgba(255,255,255,0);
        resize: vertical;
    }

    #vcomments p {
        margin: 2px 2px 10px;
        font-size: 1.05rem;
        line-height: 1.78rem;
    }

    #vcomments blockquote p {
        text-indent: 0.2rem;
    }

    #vcomments a {
        padding: 0 2px;
        color: #4cbf30;
        font-weight: 500;
        text-decoration: none;
    }

    #vcomments img {
        max-width: 100%;
        height: auto;
        cursor: pointer;
    }

    #vcomments ol li {
        list-style-type: decimal;
    }

    #vcomments ol,
    ul {
        display: block;
        padding-left: 2em;
        word-spacing: 0.05rem;
    }

    #vcomments ul li,
    ol li {
        display: list-item;
        line-height: 1.8rem;
        font-size: 1rem;
    }

    #vcomments ul li {
        list-style-type: disc;
    }

    #vcomments ul ul li {
        list-style-type: circle;
    }

    #vcomments table, th, td {
        padding: 12px 13px;
        border: 1px solid #dfe2e5;
    }

    #vcomments table, th, td {
        border: 0;
    }

    table tr:nth-child(2n), thead {
        background-color: #fafafa;
    }

    #vcomments table th {
        background-color: #f2f2f2;
        min-width: 80px;
    }

    #vcomments table td {
        min-width: 80px;
    }

    #vcomments h1 {
        font-size: 1.85rem;
        font-weight: bold;
        line-height: 2.2rem;
    }

    #vcomments h2 {
        font-size: 1.65rem;
        font-weight: bold;
        line-height: 1.9rem;
    }

    #vcomments h3 {
        font-size: 1.45rem;
        font-weight: bold;
        line-height: 1.7rem;
    }

    #vcomments h4 {
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.5rem;
    }

    #vcomments h5 {
        font-size: 1.1rem;
        font-weight: bold;
        line-height: 1.4rem;
    }

    #vcomments h6 {
        font-size: 1rem;
        line-height: 1.3rem;
    }

    #vcomments p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #vcomments hr {
        margin: 12px 0;
        border: 0;
        border-top: 1px solid #ccc;
    }

    #vcomments blockquote {
        margin: 15px 0;
        border-left: 5px solid #42b983;
        padding: 1rem 0.8rem 0.3rem 0.8rem;
        color: #666;
        background-color: rgba(66, 185, 131, .1);
    }

    #vcomments pre {
        font-family: monospace, monospace;
        padding: 1.2em;
        margin: .5em 0;
        background: #272822;
        overflow: auto;
        border-radius: 0.3em;
        tab-size: 4;
    }

    #vcomments code {
        font-family: monospace, monospace;
        padding: 1px 3px;
        font-size: 0.92rem;
        color: #e96900;
        background-color: #f8f8f8;
        border-radius: 2px;
    }

    #vcomments pre code {
        font-family: monospace, monospace;
        padding: 0;
        color: #e8eaf6;
        background-color: #272822;
    }

    #vcomments pre[class*="language-"] {
        padding: 1.2em;
        margin: .5em 0;
    }

    #vcomments code[class*="language-"],
    pre[class*="language-"] {
        color: #e8eaf6;
    }

    #vcomments [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
        position: inherit;
        margin-left: -1.3rem;
        margin-right: 0.4rem;
        margin-top: -1px;
        vertical-align: middle;
        left: unset;
        visibility: visible;
    }

    #vcomments b,
    strong {
        font-weight: bold;
    }

    #vcomments dfn {
        font-style: italic;
    }

    #vcomments small {
        font-size: 85%;
    }

    #vcomments cite {
        font-style: normal;
    }

    #vcomments mark {
        background-color: #fcf8e3;
        padding: .2em;
    }

    #vcomments table, th, td {
        padding: 12px 13px;
        border: 1px solid #dfe2e5;
    }

    table tr:nth-child(2n), thead {
        background-color: #fafafa;
    }

    #vcomments table th {
        background-color: #f2f2f2;
        min-width: 80px;
    }

    #vcomments table td {
        min-width: 80px;
    }

    #vcomments [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
        position: inherit;
        margin-left: -1.3rem;
        margin-right: 0.4rem;
        margin-top: -1px;
        vertical-align: middle;
        left: unset;
        visibility: visible;
    }
</style>

<div class="card valine-card" id="vcomments-top">

    <!-- 福袋按钮 -->
    <div class="caishendeng">        
        <div class="caishenxian fudaixian">
            <img class="caishenpic fudao" src="/medias/spring-img/fudao.png" />
        </div>              
    </div>
   
    <div class="comment_headling" style="font-size: 20px; font-weight: 700; position: relative; padding-left: 20px; top: 15px; padding-bottom: 5px;">
        <i class="fas fa-comments fa-fw" aria-hidden="true"></i>
        <span>评 论</span>
    </div>
    <div id="vcomments" class="card-content" style="display: grid"></div>
</div>

<script src="<%- theme.jsDelivr.url %><%- url_for('/libs/valine/av-min.js') %>"></script>
<script src="<%- theme.jsDelivr.url %><%- url_for(theme.libs.js.valine) %>"></script>
<script>
    new Valine({
        el: '#vcomments',
        enableQQ: true,
        boolean: true,
        appId: '<%- theme.valine.appId %>',
        appKey: '<%- theme.valine.appKey %>',
        notify: '<%- theme.valine.notify %>' === 'true',
        verify: '<%- theme.valine.verify %>' === 'true',
        visitor: '<%- theme.valine.visitor %>' === 'true',
        // avatar: '<%- theme.valine.avatar %>',
        avatar: '/medias/robot.png',
        pageSize: '<%- theme.valine.pageSize %>',
        lang: '<% if (config.language == "zh-CN") {  %>zh-cn<% } else { %>en<% } %>',
        placeholder: '<%= theme.valine.placeholder %>',    

        adminEmailMd5: '<%- theme.valine.adminEmailMd5 %>',

        master: <%- '["' + theme.valine.master.join('", "') + '"]' %>,
        friends: <%- '["' + theme.valine.friends.join('", "') + '"]' %>,
        tagMeta: <%- '["' + theme.valine.tagMeta.join('", "') + '"]' %>,
        // tagMeta: '<%- theme.valine.tagMeta %>',
        // master: '<%- theme.valine.master %>',
        // friends: '<%- theme.valine.friends %>',
        emoticonUrl: <%- '["' + theme.valine.emoticonUrl.join('", "') + '"]' %>
    });
</script>
<%- partial('_partial/back-comment.ejs') %>

<!-- 评论机器人验证 -->
<script>
    $('.roboter').on('click',function(){
        $('.robot-check-text').html('·&nbsp;&nbsp;&nbsp;验证成功！');
        $('.roboter:hover .robot-check-text::before').css('border','2px solid #26a69a');
        $('.robotxian').css('background','#26a69a');
        $('.robotimg').attr('src','/medias/robot.png');
        $('.robot-check-text').css('color','#26a69a');
    });
    
    if(!$('.robot-check').checked) {
        // alert("请勾选机器人验证后再发表评论！");
        $('.vsubmit').attr('disabled',true).attr('title','评论前勾选机器人验证按钮');
    } 
    $('.robot-check').on('click',function(){
        $('.vsubmit').attr('disabled',false).attr('title','欢迎畅所欲言');
    });
</script>
