<%- partial('_partial/bg-cover') %>
<style>
    /* .bg-cover {
        background-image: url("/medias/banner/ticktackbg.jpg")!important;
    } */
    .bg-cover::before {
        background-image: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/images/grid.png);
    }
    @media only screen and (max-width: 601px) {
        #switchspring {
            bottom: 178px!important;
        }
    }
    #switchspring {
        bottom: 223px;
    }
    .card-content {
        padding: 12px!important;
    }
    .miaoshus {
        padding: 12px;
        border: 1px dashed #e6e6e6;
        color: #969696;
        position: relative;
        display: inline-block;
        width: 95%;
        background: #fbfbfb50;
        border-radius: 10px;
        font-size: 16px;
        margin: 3px auto 0px;
    }
    body.dark .miaoshus {
        background: 0 0;
        border: 1px dashed #888;
    }
</style>
<!-- 以下书单模块css样式 -->
<style>
    body.dark .page .content li {
        background: rgba(34,34,34,0.55)!important;
        border-radius: 12px;
    }
    @media screen and (min-width: 768px) {
        #book .page {
        /* background-color: hsla(0,0%,100%,.7); */
        -webkit-box-shadow: 0 8px 16px rgba(0,0,0,.12);
        box-shadow: 0 8px 16px rgba(0,0,0,.12);
        }
    }
    #book .page {
        overflow: hidden;
        border-radius: 3px;
    }
    @media screen and (min-width: 768px) {
        #book .content {
            grid-template-columns: 1fr 1fr;
        }
    }
    #book .content {
        display: grid;
        grid-column-gap: 16px;
        padding: 16px;
        text-align: justify;
    }
    #book .content li {
        list-style: none;
        margin-bottom: 16px;
        border-radius: 3px;
        background-color: hsla(0,0%,100%,.7);
        -webkit-box-shadow: 0 14px 38px rgba(0,0,0,.08), 0 3px 8px rgba(0,0,0,.06);
        box-shadow: 0 14px 38px rgba(0,0,0,.08), 0 3px 8px rgba(0,0,0,.06);
        -webkit-transition: all .3s ease 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
        transition: all .3s ease 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
        transition: all .3s ease 0s,transform .6s cubic-bezier(.6,.2,.1,1) 0s;
        transition: all .3s ease 0s,transform .6s cubic-bezier(.6,.2,.1,1) 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
    }
    #book .content li .info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 16px 12px 0;
        line-height: 1.7;
        list-style: none;
    }
    .book-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-perspective: 600px;
        perspective: 600px;
    }
    .book {
        position: relative;
        width: 100px;
        height: 150px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: rotateY(-30deg);
        transform: rotateY(-30deg);
        -webkit-transition: 1s ease;
        transition: 1s ease;
        -webkit-animation: bookRotate 0s 1s ease 0s;
        animation: bookRotate 0s 1s ease 0s;
        list-style: none;
    }
    .book:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 2px;
        width: 23px;
        height: 146px;
        -webkit-transform: translateX(84.5px) rotateY(90deg);
        transform: translateX(84.5px) rotateY(90deg);
        background: -webkit-gradient(linear,left top,right top,from(#fff),color-stop(5%,#f9f9f9),color-stop(10%,#fff),color-stop(15%,#f9f9f9),color-stop(20%,#fff),color-stop(25%,#f9f9f9),color-stop(30%,#fff),color-stop(35%,#f9f9f9),color-stop(40%,#fff),color-stop(45%,#f9f9f9),color-stop(50%,#fff),color-stop(55%,#f9f9f9),color-stop(60%,#fff),color-stop(65%,#f9f9f9),color-stop(70%,#fff),color-stop(75%,#f9f9f9),color-stop(80%,#fff),color-stop(85%,#f9f9f9),color-stop(90%,#fff),color-stop(95%,#f9f9f9),to(#fff));
        background: linear-gradient(90deg,#fff,#f9f9f9 5%,#fff 10%,#f9f9f9 15%,#fff 20%,#f9f9f9 25%,#fff 30%,#f9f9f9 35%,#fff 40%,#f9f9f9 45%,#fff 50%,#f9f9f9 55%,#fff 60%,#f9f9f9 65%,#fff 70%,#f9f9f9 75%,#fff 80%,#f9f9f9 85%,#fff 90%,#f9f9f9 95%,#fff);
    }
    .book>:first-child {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 150px;
        -webkit-transform: translateZ(12.5px);
        transform: translateZ(12.5px);
        border-radius: 0 2px 2px 0;
        -webkit-box-shadow: 5px 5px 20px #666;
        box-shadow: 5px 5px 20px #666;
    }
    .book:after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 150px;
        -webkit-transform: translateZ(-12.5px);
        transform: translateZ(-12.5px);
        background-color: #555;
        border-radius: 0 2px 2px 0;
    }
    #book .content li .info>div {
        margin-left: 26px;
    }
    #book .content li .info h3 {
        font-size: 16px;
    }
    #book .content li .info p a {
        position: relative;
        color: #b854d4;
    }
    #book .content li .info p a:before {
        content: " " attr(href);
        position: absolute;
        padding: 0 4px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        pointer-events: none;
        font-family: Fontello;
        font-size: 12px;
        -webkit-box-shadow: 0 14px 38px rgba(0,0,0,.08), 0 3px 8px rgba(0,0,0,.06);
        box-shadow: 0 14px 38px rgba(0,0,0,.08), 0 3px 8px rgba(0,0,0,.06);
        border-radius: 3px;
        background-color: #fff;
        opacity: 0;
        -webkit-transform: scale(.7) translateY(-75%);
        transform: scale(.7) translateY(-75%);
        -webkit-transform-origin: left center;
        transform-origin: left center;
        -webkit-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
    }
    #book .content li .info p a:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1.5px;
        background-color: #b854d4;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: bottom right;
        transform-origin: bottom right;
        -webkit-transition: -webkit-transform .3s ease-out;
        transition: -webkit-transform .3s ease-out;
        transition: transform .3s ease-out;
        transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    }
    #book .content li .info .fa-star {
        margin-right: 4px;
        color: #d68fe9;
    }
    .icon-star:before {
        content: "\e80b";
    }
    [class*=" icon-"]:before, [class^=icon-]:before {
        font-family: Fontello;
        font-style: normal;
        font-weight: 400;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    #book .content li .description {
        padding: 12px;
        font-size: 14px;
        line-height: 1.7;
    }
    #book .content li .info p {
        font-size: 14px;
        line-height: 1.7;

    }
    @media screen and (min-width: 768px) {
        #book .content li:hover {
            -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
            -webkit-box-shadow: 0 14px 38px rgba(0,0,0,.14), 0 3px 8px rgba(0,0,0,.12);
            box-shadow: 0 14px 38px rgba(0,0,0,.14), 0 3px 8px rgba(0,0,0,.12);
        }
    }
    #book .content li {
        list-style: none;
        margin-bottom: 16px;
        border-radius: 3px;
        background-color: hsla(0,0%,100%,.7);
        -webkit-box-shadow: 0 14px 38px rgba(0,0,0,.08), 0 3px 8px rgba(0,0,0,.06);
        box-shadow: 0 14px 38px rgba(0,0,0,.08), 0 3px 8px rgba(0,0,0,.06);
        -webkit-transition: all .3s ease 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
        transition: all .3s ease 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
        transition: all .3s ease 0s,transform .6s cubic-bezier(.6,.2,.1,1) 0s;
        transition: all .3s ease 0s,transform .6s cubic-bezier(.6,.2,.1,1) 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
    }
    #book .content li:hover .book {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    .quote {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        margin-bottom: 16px;
        padding: 32px 0;
    }
    .quote i:first-child {
        top: 0;
        left: 16px;
    }
    .quote i {
        position: absolute;
        font-size: 24px;
    }
    .icon-quote-left:before {
        content: "\f10d";
    }
    [class*=" icon-"]:before, [class^=icon-]:before {
        font-family: Fontello;
        font-style: normal;
        font-weight: 400;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
<main class="content">
    <div class="container">
        <div class="card">
            <!-- 福袋按钮 -->
            <div class="caishendeng">        
                <div class="guguxian">
                    <img class="caishenpic gugus" src="/medias/spring-img/gu1.png" />
                </div>              
            </div>
            <div class="card-content">
                <div class="tag-title center-align">
                    <div class="miaoshus">
                        <div class="title center-align">“ 博主的书单 ”
                    </div>

<!-- 书单模块开始 -->
<div id="book">
<div class="page">
<ul class="content">
    <!-- 每个li标签内容代表一本书籍的所有信息 -->
    <li>
        <div class="info">
            <a href="https://www.duokan.com/book/169714" target="_blank" rel="noreferrer noopener" class="book-container">
                <div class="book">
                    <img src="/medias/project-img/es6pic.jpg" alt="ES6 标准入门">
                </div>
            </a>
            <div>
                <h3>《 ES6 标准入门 》</h3>
                <p>作者：阮一峰</p>
                <p>出版时间：2017-09-01</p>
                <p>阅读进度：正在阅读...</p>
                <p>
                    <span>读书笔记：</span>
                    <a href="/posts/note-demo.html" target="_blank" rel="noopener noreferrer"> ES6 标准入门 </a>
                </p>
                <p> 
                    <span>推荐指数：</span>
                    <span></span>
                    <!-- 推荐指数，多少个星星就有以下多少个i标签 -->
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </p>
            </div>
            </div>
            <p class="description">“ 柏林已经来了命令，阿尔萨斯和洛林的学校只许教 ES6 了...他转身朝着黑板，拿起一支粉笔，使出全身的力量，写了两个大字：“ES6 万岁！”《最后一课》。 ”</p>
    </li>
    <!-- 每个li标签内容代表一本书籍的所有信息 -->
    <li><div class="info"><a href="https://www.duokan.com/book/120447" target="_blank" rel="noreferrer noopener" class="book-container"><div class="book"><img src="/medias/project-img/jspic.jpg" alt="JavaScript 设计模式与开发实践"></div></a><div><h3>《 JavaScript 设计模式与开发实践 》</h3><p>作者：曾探</p><p>出版时间：2015-05-01</p><p>阅读进度：正在阅读...</p><p><span>读书笔记：</span><a href="javascript:;" target="" rel="noopener noreferrer"> 暂无 </a></p><p><span>推荐指数：</span><span></span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p></div></div><p class="description">“ 设计模式的定义：在面向对象软件设计过程中针对特定问题的简洁而优雅的解决方案。书中介绍了 JavaScript 常用的 16 种设计模式，受益良多。 ”</p></li><li><div class="info"><a href="https://www.duokan.com/book/102758" target="_blank" rel="noreferrer noopener" class="book-container"><div class="book">
      <img src="/medias/project-img/jspicnoknow.jpg" alt="你不知道的 JavaScript(上卷)"></div>
    </a><div><h3>《 你不知道的 JavaScript(上卷) 》</h3><p>作者：Kyle Simpson</p><p>出版时间：2015-04-01</p><p>阅读进度：正在阅读...</p><p><span>读书笔记：</span><a href="javascript:;" target="" rel="noopener noreferrer">暂无</a></p><p><span>推荐指数：</span><span></span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p></div></div><p class="description">“ You-Dont-Know-JS 系列目前在 Github 上已获得近 7.5 万 star，说是 2017 年最火的一个项目也不为过，学而不思则殆，重新温故知新。 ”</p></li><li><div class="info"><a href="https://www.jb51.net/onlineread/JavaScript-Garden-CN/#intro" target="_blank" rel="noreferrer noopener" class="book-container"><div class="book">
      <img src="/medias/project-img/jssecret.jpg" alt="JavaScript 秘密花园"></div>
    </a><div><h3>《 JavaScript 秘密花园 》</h3><p>作者：伊沃·韦特泽尔</p><p>出版时间：未出版</p><p>阅读进度：温习中</p><p><span>读书笔记：</span><a href="javascript:;" target="" rel="noopener noreferrer"> 暂无 </a></p><p><span>推荐指数：</span><span></span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p></div></div><p class="description">“ JavaScript 秘密花园是一个不断更新，主要关心 JavaScript 一些古怪用法的文档。初学者可以籍此深入了解 JavaScript 的语言特性。 ”</p></li></ul></div>

</div>
<!-- 书单模块结束 -->
                    
                </div>
            </div>
        </div>
      

        <div class="card">
            <% if (theme.gitalk && theme.gitalk.enable) { %>
            <%- partial('_partial/gitalk') %>
            <% } %>

            <% if (theme.gitment.enable) { %>
            <%- partial('_partial/gitment') %>
            <% } %>

            <% if (theme.disqus.enable) { %>
            <%- partial('_partial/disqus') %>
            <% } %>

            <% if (theme.livere && theme.livere.enable) { %>
            <%- partial('_partial/livere') %>
            <% } %>

            <% if (theme.valine && theme.valine.enable) { %>
            <%- partial('_partial/valine') %>
            <% } %>
			
			<% if (theme.minivaline && theme.minivaline.enable) { %>
            <%- partial('_partial/minivaline') %>
            <% } %>
        </div>
    </div>
</main>
