<% if (is_home() && page.current === 1) { %>
<%- partial('_partial/index-cover') %>
<% } else { %>
<%- partial('_partial/bg-cover') %>
<% } %>

<style>
  /* 主页背景图 */
  .bg-cover {
    background-image: url("/medias/banner/wy1.JPG") !important;
  }
</style>

<style>
  @media only screen and (max-width: 601px) {
    #switchspring {
      bottom: 178px !important;
    }
  }

  #switchspring {
    bottom: 232px;
  }

  .hurens {
    color: #926fec;
    font-size: 1.08rem;
  }

  body.dark .hurens {
    color: #926fec !important;
  }
</style>

<main class="content">
  <% if (page.current === 1
            && ((theme.dream.enable || theme.music.enable)
                    || theme.video.enable || theme.recommend.enable)) { %>
  <div id="indexCard" class="index-card">
    <div class="container ">
      <!-- 王小波语录栏开始 -->
      <div class="card huahuacard">
        <div class="card-content">
          <% if (theme.dream.enable) { %>
          <%- partial('_widget/dream') %>
          <% } %>

          <% if (theme.music.enable && !theme.music.fixed) { %>
          <%- partial('_widget/music') %>
          <% } %>

          <% if (theme.video.enable) { %>
          <%- partial('_widget/video') %>
          <% } %>

          <% if (theme.recommend.enable) { %>
          <% } %>
        </div>
        <!-- 旋转樱花 -->
        <div class="yinghua yhleft">
          <div class="yinghualine">
            <img class="yinghuapic" src="/medias/yinghua.png" />
          </div>
          <style>
            .yinghua {
              position: absolute;
              bottom: 32px;
            }

            .yhleft {
              left: 15%;
            }

            .yinghualine {
              position: absolute;
              top: 0px;
              right: 20%;
              width: 2px;
              height: 32px;
              background: #dc8f03;
              transform-origin: 50% 100px;
              animation: swing 3.5s infinite ease-in-out;
              -webkit-transform-origin: 50% 100px;
              -webkit-animation: swing 3.5s infinite ease-in-out;
            }

            .yinghuapic {
              width: 28px;
              height: 28px;
              -webkit-animation: rotate 2s linear 0s infinite;
              animation: rotate 2s linear 0s infinite;
              position: absolute;
              top: -14px;
              left: -14px;
              z-index: 9;
            }
          </style>
        </div>
      </div>
      <!-- 王小波语录栏结束 -->

      <!-- 全局通知公告播报栏开始 -->
      <style>
        .notices {
          padding: 20px;
          color: #969696;
          position: relative;
          display: inline-block;
          border-radius: 10px;
          font-size: 16px;
        }

        .rows .col.offset-l2 {
          margin-left: 0px !important;
        }

        .textsst {
          padding: 20px;
          font-size: 1.08rem;
          text-indent: 2rem;
          font-family: 'Architects Daughter', cursive !important;
        }

        .textsst p {
          font-size: 16px;
        }
      </style>
      <div class="card huahuacard">
        <div class="dream">
          <div class="row rows">
            <div class="notices col l12 offset-l2 m12 offset-m1 s12 offset-s1">
              <div class="caishendeng">
                <div class="caishenxian">
                  <img class="caishenpic" src="/medias/spring-img/caishen.png" />
                </div>
              </div>
              <!-- 全局通知公告播报栏开始 -->
              <style>
                .notices {
                  padding: 20px;
                  color: #969696;
                  position: relative;
                  display: inline-block;
                  border-radius: 10px;
                  font-size: 16px;
                }

                .rows .col.offset-l2 {
                  margin-left: 0px !important;
                }

                .textsst {
                  padding: 20px;
                  font-size: 1.08rem;
                  text-indent: 2rem;
                  font-family: 'Architects Daughter', cursive !important;
                }

                .textsst p {
                  font-size: 16px;
                }
              </style>
              <!-- 公告文字栏开始 -->
              <div class="textsst">
                <p>作者：Hello，itsNeko，我是本开源博客的作者，itsNeko博客地址:<a href="https://dyfa.top/" target="_blank">itsNeko博客~</a>
                </p>
                <p>下载：本开源博客的源码已经上传我的github和gitee仓库，欢迎<code>Star</code>，下载地址：
                  <a href="https://github.com/nekodeng/hexo-theme-itsneko.git" target="_blank">源码github下载地址~</a>
                  <a href="https://gitee.com/nekodeng/hexo-theme-itsneko.git" target="_blank">源码gitee下载地址~</a>
                </p>
                <p>赞赏：感谢各位的喜爱，也欢迎大家的赞赏，赞赏二维码见该页面：<a href="https://dyfa.top/donate/" target="_blank">赞赏itsNeko开源博主~</a>
                </p>
                <p>食用：本开源博客食用方法见下面第一篇文章:<a href="https://dyfa.top/posts/itsneko-opensource-blog.html"
                    target="_blank">关于itsNeko开源博客食用方法~</a>，尽量写的通俗易懂，若懂一点代码那便是极好的。</p>
                <p>联系：怎样联系itsNeko，留言：<a href="https://dyfa.top/contact/" target="_blank">itsNeko留言板</a>
                  ，邮箱：<code>nekodeng@qq.com</code>，QQ: <code>2018854221</code></p>
              </div>
              <!-- 公告文字栏结束 -->
              <!-- 旋转樱花 -->
              <div class="yinghua yhright">
                <div class="yinghualine">
                  <img class="yinghuapic" src="/medias/yinghua.png" />
                </div>
                <style>
                  .yinghua {
                    position: absolute;
                    bottom: 32px;
                  }

                  .yhright {
                    right: 12%;
                  }

                  .yinghualine {
                    position: absolute;
                    top: 0px;
                    right: 20%;
                    width: 2px;
                    height: 32px;
                    background: #dc8f03;
                    transform-origin: 50% 100px;
                    animation: swing 3.5s infinite ease-in-out;
                    -webkit-transform-origin: 50% 100px;
                    -webkit-animation: swing 3.5s infinite ease-in-out;
                  }

                  .yinghuapic {
                    width: 28px;
                    height: 28px;
                    -webkit-animation: rotate 2s linear 0s infinite;
                    animation: rotate 2s linear 0s infinite;
                    position: absolute;
                    top: -14px;
                    left: -14px;
                    z-index: 9;
                  }
                </style>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 全局通知公告播报栏结束 -->
    </div>
  </div>

  <% }%>

  <%
    var hashCode = function (str) {
        if (!str && str.length === 0) {
            return 0;
        }

        var hash = 0;
        for (var i = 0, len = str.length; i < len; i++) {
            hash = ((hash << 5) - hash) + str.charCodeAt(i);
            hash |= 0;
        }
        return hash;
    };
    %>

  <!-- 所有文章卡片开始 -->
  <article id="articles" class="container articles">
    <div class="row article-row">
      <% page.posts.forEach(post => { %>
      <div class="article col s12 m6 l4">
        <div class="card">
          <!-- 推荐文章置顶模块效果开始 -->
          <% if (post.top) { %>
          <div class="placetop">推荐文章</div>
          <style>
            .placetop {
              z-index: 99;
              position: absolute;
              top: 0;
              left: 0;
              width: 80px;
              height: 30px;
              line-height: 30px;
              border-bottom-right-radius: 8px;
              background-color: #039be5;
              text-align: center;
              font-size: 15px;
              color: #fff;
              font-weight: 400 !important;
              opacity: 0.95;
            }

            body.dark .placetop {
              opacity: 0.75;
            }
          </style>
          <% } %>
          <!-- 推荐文章置顶模块效果结束 -->
          <a href="<%- url_for(post.path) %>">
            <div class="card-image">

              <% if (post.img) { %>
              <img src="<%- url_for(post.img) %>" class="responsive-img" alt="<%= post.title %>">
              <% } else { %>
              <%
                                var featureimg = '/medias/featureimages/0.jpg';
                                var featureImages = theme.featureImages;
                                if (!featureImages || featureImages.length == 0) {
                                    return featureimg;
                                }
                                featureimg = featureImages[Math.abs(hashCode(post.title) % featureImages.length)]
                            %>
              <img src="<%- theme.jsDelivr.url %><%- url_for(featureimg) %>" class="responsive-img"
                alt="<%= post.title %>">
              <% } %>
              <!-- 福袋按钮 -->
              <div class="caishendeng">
                <div class="caishenxian fudaixian">
                  <img class="caishenpic lala" src="/medias/spring-img/fish.png" />
                </div>
              </div>
              <span class="card-title">
                <%= post.title %>
                <!-- 文章卡片hover线条效果 -->
                <span class="titlesline">
                  <style>
                    .titlesline {
                      width: 0px;
                      height: 4px;
                      background-color: #fadca6;
                      border-radius: 2px;
                      position: absolute;
                      top: 10px;
                      left: 24px;
                    }

                    body.dark .titlesline {
                      filter: brightness(.7);
                    }

                    article .card .titlesline {
                      transition: all 0.36s ease;
                    }

                    article .card-image:hover .titlesline {
                      width: 36px;
                    }
                  </style>
                </span>
              </span>
            </div>
          </a>

          <div class="card-content article-content">
            <div class="summary block-with-text">
              <% if (post.summary && post.summary.length > 0) { %>
              <%- post.summary %>
              <% } else { %>
              <%- strip_html(post.content).substring(0, 120) %>
              <% } %>
            </div>
            <div class="publish-info">
              <span class="publish-date">
                <i class="far fa-clock fa-fw icon-date"></i><%= date(post.date, config.date_format) %>
              </span>
              <span class="publish-author">
                <% if (post.categories && post.categories.length > 0) { %>
                <i class="fas fa-bookmark fa-fw icon-category"></i>
                <% post.categories.forEach(category => { %>
                <a href="<%- url_for(category.path) %>" class="post-category">
                  <%- category.name %>
                </a>
                <% }); %>
                <% } else if (post.author && post.author.length > 0) { %>
                <i class="fas fa-user fa-fw"></i>
                <%- post.author %>
                <% } else { %>
                <i class="fas fa-user fa-fw"></i>
                <%- config.author %>
                <% } %>
              </span>
            </div>
          </div>

          <% if(post.tags && post.tags.length > 0) { %>
          <div class="card-action article-tags">
            <% post.tags.forEach(tag => { %>
            <a href="<%- url_for(tag.path) %>">
              <span class="chip bg-color"><%= tag.name %></span>
            </a>
            <% }); %>
          </div>
          <% } %>
        </div>
      </div>
      <% }); %>
    </div>
  </article>
  <!-- 所有文章卡片结束 -->
</main>

<% if (page.total > 1) { %>
<%- partial('_partial/paging') %>
<% } %>
